body{
    width: 100%;
    margin: 0;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
    overflow: hidden;
}
#cancel{
    width: 100%;
    text-align: center;
}
#prevDiv{
    display: grid; 
    /*align-self: center;*/
  grid-template-columns: 30% 30% 30%;
  gap: 3.33%;
  justify-items: start;
  /*padding-left: 10px;*/
}
aside{
    width: 100%;
    height: 100%;
    background-color: rgb(103, 103, 103);
    position: absolute;
}
html{
    width: 100%;
    overflow: hidden;
    /*scroll-behavior: inherit;*/
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prevG{
    margin: 0;
    padding: 0;
}
.prevChooseNo,.prevChooseYes{
    font-size: 18px;
    width: 130px;
    text-align: justify;
}
.prevChooseYes:hover h4, .prevChooseYes:hover p{
    color: rgb(103, 149, 107);
}
#left{
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: rgb(212, 212, 212);
    height: auto;
    margin-left: 15px;
    margin-top: 15px;
border-radius: 15px;
padding: 15px;
font-family: Arial, Helvetica, sans-serif;
}

button,a{
    padding: 0;
   width: 250px;
   background-color: rgba(240, 248, 255, 0);
   border: 0;
   text-align: start;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: rgb(32, 32, 32);
}
button:hover,a:hover{
    color: rgb(90, 155, 108);
    transition-duration: 200ms;
}

h3{
    align-self: center;
    font-size: 80px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;   margin: 0;
}

#two{
    color: rgba(162, 234, 140, 0.99);
}
#zero{
    color: rgb(158, 237, 165);
}
#four{
    color: rgba(211, 234, 140, 0.987);
}
#eight{
    color: rgb(140, 237, 55);
}

/*4: "rgba(211, 234, 140, 0.987)",
  8: "rgb(237, 220, 160)",
  16: "rgb(171, 237, 160)",
  32: "rgb(158, 237, 165)",
  64: "rgb(253, 164, 176)",
  128: "rgba(176, 237, 123, 0.9);",*/
#t{color: rgba(179, 199, 120, 0.987);}
#h{color: rgb(175, 163, 118);}
#e{color: rgb(129, 175, 120);}
#m{color: rgb(103, 149, 107);}

#s{color: rgb(151, 99, 106);}