html{
    height: 100%;
    width: 100%;
    background-color: rgb(143, 143, 143);
    margin: 0;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    overflow: hidden;
    align-items: center;
    
    
    
}
main{
    
    padding-left: 55px;
    padding-right: 50px;
    
    display: flex;
    height: 100%;
    background-color: rgba(161, 156, 156, 0);
    justify-content: center;
    align-items: flex-start;
    
    flex-direction: column;
}

main h2{
    font-size: 85px;
    margin-bottom: 15px;
    display: flex;
    line-height: 0.85;
    margin: 0;
    margin-left: 5px;
    
}

main h2 div:first-child{
    color: brown;
}
#container{
    width: 100%;
    display: flex;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    
}
.fieldDot{
    background-color: rgba(186, 186, 186, 0.841);
}
#gameField{
    padding: 25px;
    border-radius: 20px;
    width: 420px;
    height: 420px;
    background-color: rgba(231, 228, 228, 0.811);
    
    
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 20px 20px; 
}

#moveMenu{
    z-index: 8;
    top: 0;
    width: 25%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 255, 0);
    right: 0;
}
#moveMenu:hover+menu,menu:hover{
    right: 0px;
    transition-duration: 0.65s;
    box-shadow: 0 0 4200px 4200px rgba(0, 0, 0, 0.32);
}
/*menu:hover{
    transition-delay: 0.65s;
    right: 0%;

    transition-duration: 1s;
}*/
article{
    width: 100%;
    height: 100%;
    background-color: rgb(157, 156, 156);
    position: absolute;
    z-index: 8;
}
menu{
    z-index: 16;
    padding: 0;
    transition-duration: 0.65s;
    right: -270px;
    top: 0;
    width: 270px;
    height: 100%;
    background-color: rgb(233, 227, 227);
    position: absolute;
    margin: 0;
display: flex;
flex-direction: column;
    align-items: flex-end;
    
}

menu button, menu a{
    text-decoration: none;
    transition-duration: 0.5s;
    width: 85%;
    padding: 18px;
    font-size: 24px;
    margin-bottom: 0%;
    border: 0;
    background-color: rgba(240, 248, 255, 0);
    color: rgb(131, 130, 130);
    font-weight: 600;
    text-align: end;
}


menu button:hover, menu a:hover{
    background-color: rgba(220, 210, 210, 0.156);
    color: rgb(24, 22, 22);
    transition-duration: 0.5s;
    
}
menu button:focus{
    color: rgb(202, 33, 33);
}

#dialog{
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.248);
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#modal{
    padding: 55px;
    background-color: aliceblue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 35px;
}
#modal p{
    margin: 1%;
}
#modal button{
    padding: 6px;
    font-size: 25px;
    transition-duration: 0.35s;
    background-color: rgb(218, 148, 148);
    border-radius: 5px;
    border: white 1px;
    color: rgb(239, 230, 229);
}

#modal button:hover{
    transition-duration: 0.35s;
    background-color: rgb(215, 114, 114);
    
}

.numberBlock{
    background-color: rgba(162, 234, 140, 0.987);
    z-index: 2;
    border-radius: 10px;
align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    /*transition-timing-function: ease-in;
    transition-timing-function:steps();*/
}
#gameRes{
    z-index: 7;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.578);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    color: rgb(184, 32, 32);
}
.numberBlock h3{
    text-align: center;
    font-size: 250%;
    line-height: 0.9;
    color: aliceblue;
    
    margin: 0%;
}

#two{
    color: rgba(162, 234, 140, 0.99);
}
#zero{
    color: rgb(158, 237, 165);
}
#four{
    color: rgba(211, 234, 140, 0.987);
}
#eight{
    color: rgb(140, 237, 55);
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
#scoreCont{
display: flex;

background-color: rgb(180, 178, 178);
flex-direction: column;
justify-content: center;
padding-left: 5%;
padding-right: 5%;
margin-bottom: 1.5%;
border-radius: 15px;
margin-right: 2%;
}

#scoreCont h5, #scoreCont p{
    
    font-size: 20px;
    color: rgb(255, 245, 240);
    
}
#scoreCont *{
    padding: 0;
    margin: 10px ;
}
header{
    height: 115px;
}
header h2{
    align-items: center
}
#score{
    
    text-align: center;
} 
